body {
    background: #f4f2ec url('./img/fundo.png') repeat-x;
    margin: 0;
    padding: 0;
    font: 12px "Lucinda Grande", "Lucida Sans Unicode", Arial, sans-serif; 
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
  